* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:root {
    --primary-color: #b91c1c;
    --secondary-color: #f87171;
    --tertiary-color: #22c55e;
}

.container {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 100vh;
}

table{
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    border: 1px solid black;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.form {
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    margin-bottom: 20vh;
}

input {
    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
    color: black;
    border: 0px;
    text-align: center;
}

input::placeholder {
    color: black;
    font-weight: bold;
    font-size: large;
}
