* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

:root {
    --primary-color: #b91c1c;
    --secondary-color: #facc15;
    --tertiary-color: #22c55e;
}

.container {
    font-family: 'Playpen Sans', cursive;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

button, input {
    font: inherit;
}

table{
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.form {
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
}

input {
    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
    color: black;
    border: 0px;
    text-align: center;
    font-size: 1.9rem;
}

input::placeholder {
    color: red;
    font-weight: bold;
}

input:focus {
    outline: 0px;
}

input:focus::placeholder {
    color: transparent;
}

button {
    padding: 10px 20px;
    border: 0px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    font-size: 1.5rem;
}

.start-game button {
    margin-top: 30vh;
    font-size: 3rem;
    padding: 30px 30px;
    vertical-align: center;
}

.game-content {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-item div {
    font-size: 1.9rem;
    color: black;
    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-player,
.result {
    font-size: 1.8rem;
    color: var(--secondary-color);
}

.result {
    color: white;
}

.reset-buttons {
    display: flex;
    gap: 10px;
}